<footer
style=>
    <a class="footer" href="{{ site.baseurl }}\pages\درباره-حمزه-جوادی-برنامه-نویس-شیراز.html">درباره من </a>
     &nbsp; &nbsp; | &nbsp; &nbsp;
     <a class="footer" href="{{ site.baseurl }}\books.html">معرفی کتاب</a>
     &nbsp; &nbsp; | &nbsp; &nbsp;
     <a class="footer" href="{{ site.baseurl }}\categories.html">موضوعات</a>
     &nbsp; &nbsp; | &nbsp; &nbsp;
      <a class="footer" href="{{ site.baseurl }}\feed.xml">feed</a>
        <br>
        مطالب تحت مجوز {{ site.copyrigth }} منتشر می‌شوند.
    </footer>
